---

- name: "Actual Budget server setup"
  hosts: localhost
  connection: local
  vars:
    config_file: '/root/config.ini'
    actual_docker_image: "docker.io/actualbudget/actual-server:26.2.0"
  tasks:
    - name: "Set facts for time"
      set_fact:
        year_now: "{{ ansible_date_time.year | int }}"
        hour_now: "{{ ansible_date_time.hour | int }}"
        minute_now: "{{ ansible_date_time.minute | int }}"

    - name: "print ansible_date_time"
      debug:
        msg:
          - "{{ year_now }}"
          - "{{ hour_now }}"
          - "{{ minute_now }}"

    - name: create actual required folder
      file:
        state: directory
        path: "{{ item }}"
      with_items:
        - "/opt/actual"
        - "/mnt/nas/Backup/actual"

    - name: Deploy actual container
      docker_container:
        name: "actual"
        hostname: "actual"
        image: "{{ actual_docker_image }}"
        env:
          TZ: 'America/Toronto'
          # PIHOLE_DNS_: "{{ ansible_default_ipv4.address }}#5353"
          # WEBPASSWORD: ''
          # DNSMASQ_LISTENING: "all"
        networks:
          - name: "app_network"
        restart_policy: always
        state: started
        pull: false
        volumes:
          - '/opt/actual/data/:/data'
        network_mode: "default"
        container_default_behavior: "compatibility"
        memory: '500M'
      # added retry to tasks dependant on external services
      register: result
      retries: 5
      delay: 3
      until: result is succeeded
      when: not ansible_check_mode

    - name: Run backup of actual budget at 1am within first 15 minutes
      block:
        - name: Create archive
          archive:
            path: /opt/actual
            dest: "/mnt/nas/Backup/actual/actual-backup-{{ year_now }}{{ hour_now }}{{ minute_now }}.tgz"

        - name: Find older backups
          find:
            paths: /mnt/nas/Backup/actual/
            age: 5d
            recurse: true
          register: actual_old_backups

        - name: Backups found
          debug:
            msg: "{{ actual_old_backups.files }}"

        - name: Remove files the older files
          file:
            path: "{{ item.path }}"
            state: absent
          with_items: "{{ actual_old_backups.files }}"
      when: (hour_now | int == 1 and minute_now | int < 10) or
            (force_actual_backup is defined and force_actual_backup | bool)
