# {{ ansible_managed }}

[defaults]

# callbacks
callback_whitelist = healthchecks, profile_tasks

[callback_healthchecks]
uuid = {{ healthchecks_uuid | default('') }}

[nas]
ip = {{ nas_ip | default('') }}

[namecheap]
host = {{ namecheap_host | default('') }}
domain = {{ namecheap_domain | default('') }}
password = {{ namecheap_password | default('') }}
