# {{ ansible_managed }}
---
title: Home
headerStyle: clean
target: _blank
hideVersion: true
statusStyle: "dot"
layout:
  Home:
    style: row
    columns: 4
  Media:
    style: row
    columns: 4
  Tools:
    style: row
    columns: 4
  Monitoring:
    style: row
    columns: 4
