# {{ ansible_managed }}

[defaults]

# callbacks
callback_enabled = healthchecks, profile_tasks

# enable caching for gathering - speeding up the deployment
## Using smart caching
gathering = smart
## Using jsonfile for cache
fact_caching = jsonfile
## Path to cache
fact_caching_connection = /tmp/facts_cache
## two hours timeout for cache
fact_caching_timeout = 7200

[callback_healthchecks]
uuid = {{ healthchecks_uuid | default('') }}

[noip]
hostname = {{ noip_hostname | default('') }}
username = {{ noip_username | default('') }}
password = {{ noip_password | default('') }}

[nas]
ip = {{ nas_ip | default('') }}
