# Cron job to git clone/pull a repo and then run locally
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
{{ schedule }} {{ cron_user }} /bin/bash -c '/root/ansible-pull.sh'
