# {{ ansible_managed }}
# Cron job to git clone/pull a repo and then run locally
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
ANSIBLE_CONFIG={{ config_file }}
ARA_API_CLIENT="http"
ARA_API_SERVER="http://127.0.0.1:8000"
ANSIBLE_CALLBACK_PLUGINS="$(python3 -m ara.setup.callback_plugins)"

{{ schedule }} {{ cron_user }} ansible-pull --clean --directory {{ workdir }} --url {{ repo_url }} --checkout {{ checkout }} --extra-vars target=localhost ansible/local.yml >>{{ logfile }} 2>&1
