# {{ ansible_managed }}
# Cron job to git clone/pull a repo and then run locally
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
ANSIBLE_CONFIG={{ config_file }}
{{ schedule }} {{ cron_user }} ansible-pull --clean --directory {{ workdir }} --url {{ repo_url }} --checkout {{ checkout }} --extra-vars target=localhost ansible/local.yml >>{{ logfile }} 2>&1
