<?xml version="1.0" encoding="utf-8"?>
<LibraryOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnablePhotos>false</EnablePhotos>
  <EnableRealtimeMonitor>true</EnableRealtimeMonitor>
  <EnableChapterImageExtraction>false</EnableChapterImageExtraction>
  <ExtractChapterImagesDuringLibraryScan>false</ExtractChapterImagesDuringLibraryScan>
  <PathInfos>
    <MediaPathInfo>
      <Path>{{ pinchflat_shows_dir }}</Path>
    </MediaPathInfo>
  </PathInfos>
  <SaveLocalMetadata>false</SaveLocalMetadata>
  <EnableInternetProviders>false</EnableInternetProviders>
  <EnableAutomaticSeriesGrouping>false</EnableAutomaticSeriesGrouping>
  <EnableEmbeddedTitles>true</EnableEmbeddedTitles>
  <EnableEmbeddedEpisodeInfos>true</EnableEmbeddedEpisodeInfos>
  <AutomaticRefreshIntervalDays>0</AutomaticRefreshIntervalDays>
  <PreferredMetadataLanguage />
  <MetadataCountryCode />
  <SeasonZeroDisplayName>Specials</SeasonZeroDisplayName>
  <MetadataSavers />
  <DisabledLocalMetadataReaders />
  <LocalMetadataReaderOrder>
    <string>Nfo</string>
  </LocalMetadataReaderOrder>
  <DisabledSubtitleFetchers />
  <SubtitleFetcherOrder />
  <SkipSubtitlesIfEmbeddedSubtitlesPresent>false</SkipSubtitlesIfEmbeddedSubtitlesPresent>
  <SkipSubtitlesIfAudioTrackMatches>false</SkipSubtitlesIfAudioTrackMatches>
  <SubtitleDownloadLanguages />
  <RequirePerfectSubtitleMatch>true</RequirePerfectSubtitleMatch>
  <SaveSubtitlesWithMedia>true</SaveSubtitlesWithMedia>
  <TypeOptions>
    <TypeOptions>
      <Type>Series</Type>
      <MetadataFetchers />
      <MetadataFetcherOrder />
      <ImageFetchers />
      <ImageFetcherOrder />
      <ImageOptions />
    </TypeOptions>
    <TypeOptions>
      <Type>Season</Type>
      <MetadataFetchers />
      <MetadataFetcherOrder />
      <ImageFetchers />
      <ImageFetcherOrder />
      <ImageOptions />
    </TypeOptions>
    <TypeOptions>
      <Type>Episode</Type>
      <MetadataFetchers />
      <MetadataFetcherOrder />
      <ImageFetchers />
      <ImageFetcherOrder />
      <ImageOptions />
    </TypeOptions>
  </TypeOptions>
</LibraryOptions>
