{
  admin off
}

{{ digitalocean_host }}.{{ digitalocean_domain }} {

  tls {
    dns digitalocean {{ digitalocean_token }}
  }

  log {
    output stdout
    format transform "{common_log}"
  }

  @url {
    host url.{{ digitalocean_domain }}
    # remote_ip forwarded private_ranges
  }

  handle @url {
      redir /carfax https://vhr.carfax.ca/en-ca/?id=n/ErQLRdOcLqwxAHlqS78ZXsfjQneOO0
      redir /kijiji https://www.kijiji.ca/v-view-details.html?adId=1653047844
  }

  @pihole {
    host pihole.{{ digitalocean_domain }}
    remote_ip forwarded private_ranges
  }

  handle @pihole {
      redir / /admin
      reverse_proxy pihole:80
  }

  @vpn {
    host vpn.{{ digitalocean_domain }}
    remote_ip forwarded private_ranges
  }

  handle @vpn {
      reverse_proxy 172.16.0.1:8080
  }

  @jellyfin {
    host jellyfin.{{ digitalocean_domain }}
    remote_ip forwarded private_ranges
  }

  handle @jellyfin {
      reverse_proxy {{ ansible_default_ipv4.address }}:8096
  }

  @webui-aria2 {
    host webui-aria2.{{ digitalocean_domain }}
    remote_ip forwarded private_ranges
  }

  handle @webui-aria2 {
      reverse_proxy webui-aria2:8080
  }

  @speedtest {
    host speedtest.{{ digitalocean_domain }}
    remote_ip forwarded private_ranges
  }

  handle @speedtest {
      reverse_proxy speedtest:80
  }

  @money {
    host money.{{ digitalocean_domain }}
    remote_ip forwarded private_ranges
  }

  handle @money {
      reverse_proxy actual:5006
  }

  @ara {
    host ara.{{ digitalocean_domain }}
    remote_ip forwarded private_ranges
  }

  handle @ara {
      reverse_proxy ara:8000
  }

  # Fallback for otherwise unhandled domains
  handle {
      abort
  }

}
