---
name: add-label

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
  issues:
    types:
      - opened
      - reopened
      - edited
  issue_comment:

jobs:
  apply-label:
    runs-on: ubuntu-latest
    steps:
      - name: add-label
        uses: actions/github-script@v8
        with:
          script: |

            const title = (context.payload.pull_request) ? context.payload.pull_request.title : context.payload.issue.title

            if (title.startsWith('bug:')) {
              github.rest.issues.addLabels({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                labels: ['bug']
              })
            } else {
              github.rest.issues.addLabels({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                labels: ['enhancement']
              })
            }
